           <%#@comments.each do |comment|%>

<div id="like-btn<%= comment.id %>">
          <% if current_user != comment %>
           <% if user_signed_in? && comment.liked_by?(current_user)%>
         
           <%=link_to "❤️", item_comment_like_path(@item.id,comment.id), data: { turbo_method: :delete }, class: "comment-likes" %>
          <% else %>
            <%=link_to "♡", item_comment_likes_path(@item.id,comment.id), data: { turbo_method: :post }, class: "comment-likes" %>
          <% end %>
          <%end%>
        </div>
        <%#end%>