<!-- app/views/users/following.html.erb -->
<h2><%= @user.nickname %> がフォローしているユーザー</h2>

<% @following_users.each do |user| %>
  <div>
    <%= link_to user.nickname, user_path(user) %>
  </div>
<% end %>
