.btn-secondary{
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0 9px 15px 9px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  font-size: 14px;
  color: white;
}

.btn-primary{
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0 9px 15px 9px;
  background-color: white;
  border: 1px solid #3CCACE;
  font-size: 14px;
  color: #3CCACE;
}