.reply {
  background-color: aliceblue;
  width: 150px;
  margin-left: 198px;
}


.reply-context {
}

.reply-text {
  width: 79px;
}


.reply-submit {
  width: 50px;
}

.reply-lists{
  display: flex;
  justify-content: space-between;
}

.reply-list{
  padding: 7px;
  border-bottom: 1px solid gainsboro;
}

.reply-context{
  margin-left: 15px;
}


.reply-images{
  display: flex;
  margin-left: 5px;
}

.reply-image{
  margin-right: 10px;
}

.reply-likes{
  margin-right: 10px;

}

.ro{
  display: flex;
}