.comment-btn2{
  margin-left: 150px;
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comments{
  margin: 0px 0 0 15px;
  display: block;
}

.comment-lists{
  display: flex;
  justify-content: space-between;

}


.comment-list{
  display: flex;

}

.comment-text{
}

.rr{
  display: flex;
}

.c-t{
  margin-left: 5px;
}

.comment-images{
  margin-left: 5px;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  display: flex;
}

.comment-image{
  margin-right: 10px;
}

.comment-likes{
  margin-right: 10px;
}